<strong>Hi, {{ provider }}.</strong>
<p>
  Sadly, an appointment has been cancelled :(
</p>
<p>
  <strong>Client: </strong> {{ user }} <br>
  <strong>Date/hour: </strong> {{ date }} <br>
  <br>
  <small>
    This date/hour is now avaiable for another appointments.
  </small>
</p>